

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.backgorund{
    background-image: url('./images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img{
    background-image: url('./images/i8tgRHXx4oQ-SD 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
